@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    position: relative;
    width: 100%;
}

h2 {
    font-weight: 600;
    color:hsl(0, 0%, 100%);
    margin-bottom: 20px;
    margin-top: 25px;
}

a {
    text-decoration: none;
}

p {
    color: hsl(215, 51%, 70%);
}

.container p {
    margin-bottom: 30px;
}

.container {
    width: 300px;
    margin: auto;
    background-color: hsl(216, 50%, 16%);
    padding: 30px 30px 0 30px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
}

.view {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 255, 247,.5);
    position: relative;
    margin-top: -305px;
    border-radius: 10px;
    opacity: 0;
    
}

.view:hover {
    opacity: 1;
}

.container .view img {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.container a {
    color: hsl(0, 0%, 100%);
}

.container a:hover {
    color: hsl(178, 100%, 50%);
}

.container img {
    width: 300px;
    border-radius: 10px;
}

.desc {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.desc .img1 {
    width: 15px;
    height: 25px;
}

.desc .img2 {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    margin-right: 5px;
}

.eth {
    flex: 30%;
    margin-left: 10px;
    color: hsl(178, 100%, 50%);
}

.day {
    flex: 10%;
}

.profile {
    display: flex;
    margin-top: 23px;
}

.profile img {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: -5px;
}

.profile p {
    margin-left: 17px;
}

footer {
    color: hsl(215, 51%, 70%);
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

footer a {
    color: hsl(0, 0%, 100%);
}

footer a:hover {
    border-bottom: 2px solid white;
}

@media only screen and (max-width: 690px) {
    footer {
        display: none;
    }
}